body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0%;
    padding: 0%;
}

header{
    background:#007bff ;
    color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

section{
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}

h2{
    color: #007bff;
}

footer{
    text-align: center;
    padding: 10px;
    background: #4e95ff;
    color: white;
}

.social-links {
        margin-top: 10px;
}

.social-links>a {
    margin: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.social-links> a:hover{
    text-decoration: underline;
    font-size: 20px;
    color: #000;
}

/*Project list*/ 
.Project-list{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    gap: 20px;
}

.Project-card:hover{
    background-color: #ffffff;
    border-left: 4px solid #37ace2;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.Project-card:hover{
    transform: translateY(-5px);
}
         
.Project-card >h3 {
    margin-top: 0;
    color: #28a745;
}
